name: Build
on: [push, pull_request]

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfuse3-dev
      - name: Build
        run: make
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          brew update
          brew install --cask macfuse
      - name: Build
        run: make
